table {
    width: 700px;
    height: 400px;
    border: solid black 1px;
    border-collapse: collapse;
    margin: auto
}
td, th {
    border: solid black 0.5px;
}
tfoot, td {
    height: 20px;
}
    
